header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 99;

    backdrop-filter: blur(5px);
    background-color: rgba(255,255,255, .2);
    border-bottom: 1px solid rgba(255,255,255, .5);
}
header > .wrap {
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;

}



header .logo {
  z-index: 1;
    height: 32px;
    width: 200px;
    background-position: center left;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-image: url(../resources/gio-logo.png?update=240911);
}
header .category {
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex: 1;
    justify-content: center;
}

header .category .cateItem{
    height: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 6px;

}
header .category .cateItem .label {
  /* border-left: 3px solid #000;
  padding-left: 20px; */
  font-weight: 800;
  width: 100%;
  text-align:left ;
  line-height: unset;
}
/* header .category .cateItem .cateSub ul li:nth-child(2){
  border-left: 3px solid #000;
} */
header .category .cateItem .cateSub{
    position: absolute;
    z-index: -1;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: unset;
  padding:calc(92px + 20px) 40px 40px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0,0,0,.1);
}
header .category .cateItem:last-child .cateSub{
  text-align: left;
}
header .category .cateItem .cateSub ul{
  display: flex;
  flex-direction: row;
  gap: 12px;
  max-width: 1260px;
  margin: 0 auto;
  align-items: stretch;
}
header .category .cateItem .cateSub ul li{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
header .category .cateItem .cateSub ul li .title + a{
  margin-top: 12px;
  display: block;
}
header .category .cateItem:hover .cateSub,
header .category .cateItem.ACTIVE .cateSub{
  display: block;
}
header .category .cateItem .moreBtn i{
    width: 14px;
    height: 14px;
}
header .sideBox {
    gap: 12px;
    width: 200px;
    justify-content: end;
}

body.headerON header{
    bottom: 0;
    background-color: rgba(255,255,255, .8);
    backdrop-filter: blur(5px);
}
body.headerON header .logo{
    position: absolute;
    left: 20px;
    top: 20px;
}
body.headerON header > .wrap {
    height: 100%;
    flex-direction: column !important;
    justify-content: center
}
body.headerON header .category {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px;
    width: 100%;
    
}
body.headerON header .category .cateItem.NOW{
  display: none;
}
header .category .cateItem > *{
  z-index: 2;
  position: relative;
    padding: 24px 0 20px ;
    height: 100%;
}
header .category .cateItem.NOW > *{
  font-weight: bold;
}
header .category .cateItem.NOW > *::after{
  content: '';
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #000;
}
body.fp-viewing-extended header .category .cateItem:nth-child(1),
body.fp-viewing-notarization header .category .cateItem:nth-child(2),
body.fp-viewing-channel header .category .cateItem:nth-child(3),
body.fp-viewing-recovery header .category .cateItem:nth-child(4)
{
  border-radius: 30px;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
  font-weight: 600;
  padding: 0 20px;
  opacity: 1;
}



footer {
    /* background: linear-gradient(180deg,#111 0%, #000 100%); */
}

footer,footer .fp-tableCell {
    height: fit-content !important;
  }
  footer .fp-tableCell > .wrap{
    padding:30px
  }
  
  footer .topBox,
  footer .bottomBox,
  footer .snsList {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

  }
  footer .topBox{
    align-items: flex-start;
  }
  footer .logo {
    display: block;
    height: 60px;
    width: 100%;
    background-position: center left;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-image: url(../resources/gio-logo.png);
  }
  footer .category {
    display: flex;
    flex-direction: row;
    gap: 40px;
 
    white-space: nowrap;
   }
   footer .category .cateItem .cateSub{
    border-bottom: unset;
    padding-bottom: unset;
   }
   footer .category .cateItem .cateSub li {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 4px;
   }
   footer .category .cateItem .cateSub li:first-child {
    margin-top: 6px;
   }
   .category .cateItem .cateSub li h6.label{
    opacity: .5;
    line-height: unset;
    text-align: left;
   }
   .category .cateItem .cateSub li > a {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
   }
   .category .cateItem .cateSub li .icon {
    width: 14px;
    height: 14px;
   }
    .icon.ic-sns_git {background-image: url(../resources/icon-sns_git.png);}
    .icon.ic-sns_insta {background-image: url(../resources/icon-sns_insta.png);}
    .icon.ic-sns_youtube {background-image: url(../resources/icon-sns_youtube.png);}
    .icon.ic-sns_x {background-image: url(../resources/icon-sns_x.png);}
    .icon.ic-sns_tele {background-image: url(../resources/icon-sns_tele.png);}
    .icon.ic-sns_medium {background-image: url(../resources/icon-sns_medium.png);}
   footer .category .cateItem > *{
    display: block;
    border-bottom: 1px solid #000;
    padding-bottom: 3px;
  }
  footer .sitemap {
    display: flex;
    gap: 10px;
  }
  footer .bottomBox {
    margin-top: 50px;
    padding-top: 30px;
    border-top: 1px solid #ddd;
  }